@import '@vue-flow/core/dist/style.css';
@import '@vue-flow/core/dist/theme-default.css';
@import '@vue-flow/controls/dist/style.css';
@import '@vue-flow/minimap/dist/style.css';
@import "tailwindcss";
@import "@nuxt/ui";

@layer utilities {
  /* Scrollbar vertical */
  .scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(156 163 175); /* gray-400 */
    border-radius: 9999px;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgb(107 114 128); /* gray-500 */
    cursor: auto;
  }
}
